#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  padding-top: 80px; 
}


/* Scrollbar buttons container */
.scrollbar-buttons {
  scrollbar-width: thin; 
  scrollbar-color: #000 #e5e7eb; /* thumb color / track color */
}

.scrollbar-buttons::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.scrollbar-buttons::-webkit-scrollbar-track {
  background: #e5e7eb; /* track color */
  border-radius: 999px;
}

.scrollbar-buttons::-webkit-scrollbar-thumb {
  background-color: #000; /* scrollbar color */
  border-radius: 999px;
}

.scrollbar-buttons::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}